# Ignore artifacts: 
/build
/node_modules

# Ignore files: 
/public
package.lock.json

tailwind.css
.env

/src/generated/types.ts
/src/generated/graphql.schema.json
/src/**/*.generated.ts

pnpm-lock.yaml